<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--//创建连接工厂-->
    <bean id="activeMqConnectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <!--<bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMqConnectionFactory"/>
    </bean>-->
    <!--用连接工厂创建template对象  此对象的send 方法用来发送信息-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="activeMqConnectionFactory"/>
    </bean>

    <!--自己写的listener 实现了MessageListener接口 重写onMessage方法，
    在该方法中可以监听到template send 到ActiveMq的消息队列-->
    <bean id="myListener" class="com.kaishengit.tms.listener.MyListener"/>


    <bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="activeMqConnectionFactory"/>
        <property name="destinationName" value="spring-jms"/>
        <property name="messageListener" ref="myListener"/>
        <property name="concurrency" value="3-10"/>
        <property name="sessionAcknowledgeModeName" value="CLIENT_ACKNOWLEDGE"/>
    </bean>


</beans>